

label {
    font-weight: normal !important;
}

#student_name {
    color: purple;
    font-weight: bold;
}

#code_mirror_id {
    margin-top: 20px;
    /* min-height: 500px; */
}

.page-header {
    margin-top: 0px;
    background: -webkit-linear-gradient( #a7e4dd, #fff );
    background: -moz-linear-gradient( #a7e4dd, #fff );
    background: linear-gradient( #a7e4dd, #fff );
}

.green-bg-txt {
    background-color: green;
    color: white;
}
.purple-bg-txt {
    background-color: purple;
    color: white;
}
.blue-bg-txt {
    background-color: blue;
    color: white;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
