

label {
    font-weight: normal !important;
}

#student_name {
    color: purple;
    font-weight: bold;
}


/* To get full height for the CodeMirror editor */
html, body { height: 100%; }

#code_mirror_id {
    margin-top: 20px;
    border: 1px solid #eee;
    height: auto;
    min-height: 300px;
    /* min-height: 500px; */
}

.page-header {
    margin-top: 0px;
    background: -webkit-linear-gradient( #a7e4dd, #fff );
    background: -moz-linear-gradient( #a7e4dd, #fff );
    background: linear-gradient( #a7e4dd, #fff );
}

.panel-body > h4 {
    color: #FF6347;
}
.panel-body > h5 {
    color: #8E388E;
    margin-top: 30px;
}

.help_legend {
    text-align:right;
    color: #666;
    font-style: italic;
}

/*
.red-bg-txt {
    background-color: red;
    color: white;
}
.green-bg-txt {
    background-color: green;
    color: white;
}
.blue-bg-txt {
    background-color: blue;
    color: white;
}
.yellow-bg-txt {
    background-color: yellow;
    color: black;
}
.purple-bg-txt {
    background-color: purple;
    color: white;
}
*/
